BTCoreExample/BTCoreExample.xcodeproj/xcuserdata/liaojunshuai.xcuserdatad/xcschemes/xcschememanagement.plist
BTCoreExample/BTCoreExample.xcworkspace/xcuserdata/liaojunshuai.xcuserdatad/UserInterfaceState.xcuserstate
BTCoreExample/Pods/Pods.xcodeproj/xcuserdata/liaojunshuai.xcuserdatad/xcschemes/xcschememanagement.plist
